@use '../abstracts/typography-tokens' as *;

html {
  font-size: 100%;
}

body {
  font-family: $font-sans;
  font-weight: $fw-regular;
  line-height: 1.6;
  color: var(--text-900, #0f172a);
}

.fw-thin {
  font-weight: $fw-thin;
}
.fw-light {
  font-weight: $fw-light;
}
.fw-regular {
  font-weight: $fw-regular;
}
.fw-medium {
  font-weight: $fw-medium;
}
.fw-bold {
  font-weight: $fw-bold;
}
.fw-extrabold {
  font-weight: $fw-extrabold;
}
.fw-black {
  font-weight: $fw-black;
}
.fw-extrablack {
  font-weight: $fw-extrablack;
}
