@use 'sass:map';
@use './variables' as *;

$color-map: (
  'primary-600': map.get(map.get($colors, primary), 600),
  'primary-500': map.get(map.get($colors, primary), 500),
  'primary-400': map.get(map.get($colors, primary), 400),
  'primary-300': map.get(map.get($colors, primary), 300),
  'primary-200': map.get(map.get($colors, primary), 200),
  'gray-300': map.get(map.get($colors, gray), 300),
  'gray-200': map.get(map.get($colors, gray), 200),
  'gray-100': map.get(map.get($colors, gray), 100),
  'gray-50': map.get(map.get($colors, gray), 50),
  'text-primary': map.get(map.get($colors, text), primary),
  'text-white': map.get(map.get($colors, text), white)
);

@function get-color($group, $key) {
  $var-name: --datepicker-#{$group}-#{$key};
  $default: map.get(map.get($colors, $group), $key);
  @return var($var-name, $default);
}

@function radius($key) {
  $var-name: --datepicker-radius-#{$key};
  $default: map.get($radius, $key);
  @return var($var-name, $default);
}

@function space($key) {
  $var-name: --datepicker-spacing-#{$key};
  $default: map.get($spacing, $key);
  @return var($var-name, $default);
}

@function font-size($key) {
  $var-name: --datepicker-font-size-#{$key};
  $default: map.get($font-sizes, $key);
  @return var($var-name, $default);
}

@function font-weight($key) {
  $var-name: --datepicker-font-weight-#{$key};
  $default: map.get($font-weights, $key);
  @return var($var-name, $default);
}

@function size($key) {
  $var-name: --datepicker-#{$key};
  $default: map.get($dimensions, $key);
  @return var($var-name, $default);
}

@function font($type) {
  $f: map.get($fonts, $type);
  @return if(type-of($f) == 'list', join($f, ', '), $f);
}

@function range($key) {
  $var-name: --datepicker-range-gradient-#{$key};
  $default: map.get($range-gradient, $key);
  @return var($var-name, $default);
}

@function scroll($key) {
  $var-name: --datepicker-scrollbar-#{$key};
  $default: map.get($scrollbar, $key);
  @return var($var-name, $default);
}

@function transition($property: all) {
  $duration: var(--datepicker-transition-duration, map.get($transition, duration));
  $timing: var(--datepicker-transition-timing, map.get($transition, timing));
  @return #{$property} #{$duration} #{$timing};
}
