$font-sans:
  'IRANYekan',
  system-ui,
  -apple-system,
  'Segoe UI',
  Roboto,
  'Helvetica Neue',
  Arial,
  'Noto Sans';

$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-normal: 600;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-black: 900;
$fw-extrablack: 950;
